@font-face {
    font-family: 'NexaFreeLightwebfont';
    src: url(fonts/NexaFreeLightwebfont.ttf) format('truetype');
}

* {
    font-family: 'NexaFreeLightwebfont';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
	color: rgba(0,0,0,0.95);
    background: rgba(255, 255, 255, 0.2);
}

body {
	height: 100vh;
	background: linear-gradient(45deg, #301157, #FFC412, #B4156E, #053674, #389BB5, #A4CE4F);
	background-size: 1000% 1000%;
	animation: fancy infinite 30s;
	color: #FFF;
}

@keyframes fancy {
	0% {
	    background-position: 0% 50%;
	}
	50% {
	    background-position: 100% 50%;
	}
	100% {
	    background-position: 0% 50%;
	}
}

img {
	height: 13vh;	/*old size 10vh*/
}

header {
	height: 12vh;
	position: absolute;
	width: 100vw;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	background: rgba(0, 0, 0, 0.1);
}

main {
	height: 100vh;
	padding-top: 15vh; 
	display: flex;
	justify-content: space-around; /*old space between */
	align-items: center;
	flex-direction: row;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.1em;
}

.intro {
	width: 40vw;
	margin: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
	margin: 50px;
	width: 35vw;
}

label {
	color: #FFF !important;
}

a,
.btn {
	text-transform: uppercase;
	display: inline-block;/*pointless?*/
	width: 300px;
	padding: 8px;
	color: #fff;
	border: 2px solid #FFF;
	text-align: center;
	outline: none;
	text-decoration: none; /*pointless?*/
	transition: all 0.2s ease;
	margin: 10px auto;
}

a:hover,
.btn:hover,
a:active,
.btn:active {
	background-color: rgba(255, 255, 255, 0.1);
	color: #FFF;
	border: transparent solid 2px;
}

.submit {
	background-color : rgba(0,0,0,0);
	font-family: 'NexaFreeLightwebfont';
}

.submit:hover {
	cursor: pointer;
}
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.dets {
	position: fixed;
   	bottom: 2vw;
   	margin-left: 2vw;
}

@media only screen and (max-device-width: 790px) {
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.intro {
		position: static;
		width: 100%;
		margin-top:-4vw;
		padding: 0% 5%;
		padding-bottom: 2%;
	}
	form {
		position: static;
		width: 100%;
		margin:0 -2vw;
		padding: 0 5%;
	}
	.dets {
		position: relative;
		font-size: 1em;
		text-align: center;
		margin-left: 0;
		margin-bottom: 20px !important;
	}
	header {
		height: 10vh;
	}
	img {
		height: 9vh;	
	}

@media only screen and (max-device-width: 765px) {
	.intro {
		padding: 0% 5%;
		padding-bottom: 5%;
		margin-top:20vw;
	}
	form {
		margin-top: 5vw;
	}
	.dets {
		position: static;
		padding-top: 5vw;
	}

@media only screen and (max-device-width: 605px) {
	.intro {
		padding: 8% 5%;
		margin-top:20vw;
	}
	.dets {
		padding-top: 8vw;
	}

@media only screen and (max-device-width: 505px) {
	.intro {
		padding: 10% 5%;
		padding-bottom: 15%;
	}
	.dets {
		padding-top: 10vw;
	}

@media only screen and (max-device-width: 439px) {
	.intro {
		padding: 20% 5%;
		padding-bottom: 20%;
	}
	.dets {
		padding-top: 14vw;
	}
	header {
		height: 8vh; 
	}
	img {
		height: 7vh;	
	}