
* {
    font-family: 'Quicksand', sans-serif;

    margin: 0;
    padding: 0;
}
html
{
    height: 100%;
}
body
{
    background: linear-gradient(to right, #B483CD, #442C64);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
#tt
{
    float: right;
    max-width: 25vh;
    max-height: 25vh;
    height: auto;
    width: auto;
}
#mahe
{
    max-width: 30vw;   
}
label {
    color: #FFF !important;
}
h2 {
    text-align: center;
    color: rgba(238, 238, 238,0.95);
    text-shadow: 0 0 5px #000000;
}
main {
    width: 100%;
    margin-top: 12vh;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/*
#container
{
    background-color: white;
    height:500px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 5px 5px 3px #472158;
    border-radius: 4px;
    padding: 1%;
    text-align: left;
    background-image: url('wipro.png');
    background-repeat: no-repeat;
    background-size: 50% 60%;
    background-position: right ;
}*/
#wipro
{
    max-width: 50vh;
    max-height: 50vh;
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
    width: auto;
}
h1
{
    margin-top: 5vh;
    display: block;
    text-align:center;
    color: rgba(238, 238, 238,0.95);
    text-shadow: 0 0 5px #000000;
    padding-bottom: 10px;
}
section 
{
    width: 50%;
    margin-top: -20vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section>div {
    padding: 50px;
    color: #FFF;
    font-size: 1.15em;
}

form {
    width: 50%;
    height: 100%;
    float: right;
    clear: both;
}
.final
{
    margin-left:20px;
}
.sub
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#submit
{
    background-color: #4cadad;
    border:none;
    color:white;
    transition: background-color 0.5s;   
    border-radius: 6px;
    margin-left: 35%;
    width: 30%;
    padding: 8px ;
    box-shadow: 4px 4px 6px black;
}
#submit:hover
{
    background-color: #3e8e8e;
    cursor: pointer;
}
.i , #sem2
{
    font-weight: 900;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    padding: 10px;
    width: 60%;
    margin: 10px;
    border-color:lightgrey;
    transition: border-color 1s;
}
 
.i:focus , #sem2:focus
{
    outline:none;
    border-color: #00b2b2;
}
.f2
{
    text-align: center;
    margin-bottom: 10px;
}
label { 
    white-space: nowrap;
    overflow: hidden;
    float:left;  
    font-size: 3vh;   
    }

.f1
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}