body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #B483CD, #442C64);
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

#container
{
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box {
  overflow: hidden;
  height: 600px;
  width: 400px;
  top: -25%;
  left: 0;
  position: absolute;
  transition: 750ms cubic-bezier(0.89, 0.03, 0.06, 1.5);
  background: #232A3F;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url(placeholder.jpg);
    background-size: cover;
    background-position: center;
}

input
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: "apercu",sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}